<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thmeleaf.org">
	<head>
		<title>BlockFlix</title>
	</head>
	<body>
		<div th:replace="fragments/header.html :: header"></div>
		<h1>Category page</h1>
		<h2 th:text="${category.name}"></h2>
		<p th:text="${category.categoryId}"></p>
		<p th:text="${category.lastUpdate}"></p>
		<h2>Movies:</h2>
		
		<table>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Rating</th>
			<th>Release Year</th>
			<th>Rental Rate</th>
			<th>Rental Duration (days)</th>
		</tr>
		<tr th:each="film: ${films}">
		<td th:text="${film.title}"></td>
		<td th:text="${film.description}"></td>
		<td th:text="${film.rating}"></td>
		<td th:text="${film.releaseYear}"></td>
		<td th:text="${film.rentalRate}"></td>
		<td th:text="${film.rentalDuration}"></td>
		</tr>
		</table>
		
		
	</body>
</html>